In [168]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [169]:
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/Lahman_baseball")

a. Find all players in the database who played at Vanderbilt University.
b. Create a list showing each player’s first and last names as well as the total salary they earned in the major leagues.
c. Sort this list in descending order by the total salary earned.
d. Which Vanderbilt player earned the most money in the majors?

In [170]:
collegeplaying = pd.read_sql("SELECT * FROM collegeplaying;", con=engine)
salaries = pd.read_sql("SELECT salary, playerid FROM salaries;", con=engine)
players = pd.read_sql("SELECT namefirst, namelast, playerid FROM people;", con=engine)

In [171]:
vandy_all_info = (collegeplaying[collegeplaying["schoolid"] == 'vandy'])
vandy_all_info = pd.merge(vandy_all_info, players, on='playerid')
vandy_all_info = pd.merge(vandy_all_info, salaries, on='playerid')
vandy_all_info['full_name'] = vandy_all_info['namefirst'] + ' ' + vandy_all_info['namelast']
vandy_salary = vandy_all_info[['full_name', 'salary']]
vandy_salary = vandy_salary.groupby('full_name').agg({'salary': np.sum}).sort_values(['salary'], ascending=False)
print(vandy_salary)

                      salary
full_name
David Price      245553888.0
Pedro Alvarez     62045112.0
Scott Sanderson   21500000.0
Mike Minor        20512500.0
Joey Cora         16867500.0
Mark Prior        12800000.0
Ryan Flaherty     12183000.0
Josh Paul          7920000.0
Sonny Gray         4627500.0
Mike Baxter        4188836.0
Jensen Lewis       3702000.0
Matt Kata          3180000.0
Nick Christiani    2000000.0
Jeremy Sowers      1154400.0
Scotti Madison      540000.0

Using the fielding table, group players into three groups based on their position: label players with position OF as "Outfield", those with position "SS", "1B", "2B", and "3B" as "Infield", and those with position "P" or "C" as "Battery". Determine the number of putouts made by each of these three groups in 2016.

In [172]:
fielding = pd.read_sql("SELECT yearid, pos, po FROM fielding;", con=engine)
fielding = fielding[fielding['yearid'] == 2016]
print(fielding['pos'].unique())

['P' '1B' '2B' 'OF' '3B' 'SS' 'C']

In [173]:
first = fielding[fielding['pos'] == '1B']
second = fielding[fielding['pos'] == '2B']
third = fielding[fielding['pos'] == '3B']
short = fielding[fielding['pos'] == 'SS']
infield = first.append(second).append(third).append(short)

outfield = fielding[fielding['pos'] == 'OF']

pitcher = fielding[fielding['pos'] == 'P']
catcher = fielding[fielding['pos'] == 'C']
battery = pitcher.append(catcher)

print('infield ' + str(infield.agg({'po': np.sum})))

print('outfield ' + str(outfield.agg({'po': np.sum})))

print('battery ' + str(battery.agg({'po': np.sum})))

infield po    58934
dtype: int64
outfield po    29560
dtype: int64
battery po    41424
dtype: int64

a. From 1970 – 2016, what is the largest number of wins for a team that did not win the world series?
b. What is the smallest number of wins for a team that did win the world series?
c. Doing this will probably result in an unusually small number of wins for a world series champion – determine why this is the case.
d. Then redo your query, excluding the problem year.
e. How often from 1970 – 2016 was it the case that a team with the most wins also won the world series?
f. What percentage of the time?

In [174]:
teams = pd.read_sql("SELECT yearid, teamid, franchid, g, w, l, wswin FROM teams;", con=engine)
teams = teams[teams["yearid"] >= 1970]
ws_teams = teams[teams['wswin'] == 'Y']
most_wins_by_champ = (ws_teams.sort_values(['w'], ascending=False).head(1))
least_wins_by_champ = (ws_teams.sort_values(['w'], ascending=False).tail(2))


x = 1970
by_year = teams[teams['yearid'] == x].sort_values(['w'], ascending=False).head(1)

print(by_year)

x +=1

by_years = teams[teams['yearid'] == x].sort_values(['w'], ascending=False).head(1)

print(by_years)

      yearid teamid franchid    g    w   l wswin
1542    1970    BAL      BAL  162  108  54     Y
      yearid teamid franchid    g    w   l wswin
1566    1971    BAL      BAL  158  101  57     N

Which managers have won the TSN Manager of the Year award in both the National League (NL) and the American League (AL)? Give their full name and the teams that they were managing when they won the award.

In [175]:
#df = []

#while True:
   # x = 1970
   # by_year = teams[teams['yearid'] == x].sort_values(['w'], ascending=False).head(1)
   # df.append(by_year)
   # x += 1
   # if x = 2017:
   #     break
#print(df)

Analyze all the colleges in the state of Tennessee. a. Which college has had the most success in the major leagues? b. Use whatever metric for success you like - number of players, number of games, salaries, world series wins, etc.

In [192]:
college = pd.read_sql("SELECT playerid, schoolid FROM collegeplaying;", con=engine)
schools = pd.read_sql("SELECT schoolid, schoolname, schoolstate FROM schools;", con=engine)
players =  pd.read_sql("SELECT playerid, namegiven FROM people;", con=engine)
college_stats = pd.merge(college, schools, on='schoolid')
college_stats = pd.merge(college_stats, players, on='playerid')
tn = college_stats[college_stats['schoolstate'] == 'TN']
tn.groupby('schoolname')

TypeError: unhashable type: 'numpy.ndarray'

a. Is there any correlation between number of wins and team salary? b. Use data from 2000 and later to answer this question. c. As you do this analysis, keep in mind that salaries across the whole league tend to increase together, so you may want to look on a year-by-year basis.

It is thought that since left-handed pitchers are more rare, causing batters to face them less often, that they are more effective. Investigate this claim and present evidence to either support or dispute this claim. a. First, determine just how rare left-handed pitchers are compared with right-handed pitchers. b. Are left-handed pitchers more likely to win the Cy Young Award? c. Are they more likely to make it into the hall of fame?